$font-src-light: '../assets/fonts/poppins/Poppins-Light.ttf';
$font-src-regular: '../assets/fonts/poppins/Poppins-Regular.ttf';
$font-src-bold: '../assets/fonts/poppins/Poppins-Bold.ttf';

$font-sizes: (
	xs: 14px,
	s: 16px,
	m: 18px,
	l: 22px
);

$font-weights: (
	light: 300,
	regular: 400
);

@each $name, $size in $font-sizes {
	.font-size-#{$name}{
		font-size: $size;
	}
}

@each $name, $weight in $font-weights{
	.font-weight-#{$name} {
		font-weight: $weight;
	}
}

@font-face {
    font-family: 'Poppins';
    src: url($font-src-regular);
	font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url($font-src-light);
	font-weight: 300;
}
