/* You can add global styles to this file, and also import other style files */
@import 'colors';
@import 'fonts';
@import 'shadow';
@import 'sizes';

:root{
	font-family: 'Poppins';
}

body {
    background-color: $bg-light-grey;
}

* {
	font-family: 'Poppins';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}