<form class="form-container" (submit)="emitFormSubmit()" [formGroup]="data">
    <title-atom level="h2" content="Save {{ model | titlecase }}"></title-atom>
    <input-atom
        formControlName="name"
        label="Name"
        size="s"
        name="name"
		(ngModelChange)="onChange()"
    ></input-atom>
    <textarea-atom
        formControlName="description"
        label="Description"
        size="s"
		type="textarea"
        name="description"
		(ngModelChange)="onChange()"
    ></textarea-atom>
    <button-atom size="m" [state]="buttonState">Add {{ model }}</button-atom>
</form>
