<div *ngIf="label === ''; else labeledInput">
    <input
        [class]="styles"
        [type]="type"
        [placeholder]="placeholder"
        [disabled]="disabled ? disabled : false"
        [name]="name"
        [(ngModel)]="value"
        (ngModelChange)="onInputChange($event)"
    />
</div>

<ng-template #labeledInput>
    <div class="labeled-input-container">
        <label for="{{ name }}" class="{{ labelStyles }}">{{ label }}</label>
        <input
            [class]="styles"
            [type]="type"
            [placeholder]="placeholder"
            [disabled]="disabled ? disabled : false"
            [name]="name"
            [(ngModel)]="value"
            (ngModelChange)="onInputChange($event)"
        />
    </div>
</ng-template>
