$accent-color: #9d3fe7;
$black-color: #1a141f;
$hint-text-color: #4b3a5a;
$border-color: #aba7af;
$disabled-color: #d4d2d5;
$spacer-color: #d9d1e0;
$spacer-light-color: #e5e0eb;
$bg-light-grey: #f5f3f7;
$white-color: #ffffff;

